@media(min-width:1400px){
     .container{
        max-width:1400px;
    }
    header .container{
        max-width: 1640px;
    }
}
@media(max-width:992px){
    .cart-reponsive{
        width: 30px!important;
        height: 30px!important;
    }
}